# Visual Studio
*.csproj.user
Resource.Designer.cs
.vs/
bin/
obj/
packages/
out/

# Python
*.pyc
.vscode
nugetPush.sh

# Android Projects
nano/android/Nano.Common/AppEnv/
nano/android/Nano.Common/Collection/
nano/android/Nano.Common/Common/
nano/android/Nano.Common/Crypt/
nano/android/Nano.Common/Json/
nano/android/Nano.Common/Lexical/
nano/android/Nano.Common/Log/
nano/android/Nano.Common/Net/
nano/android/Nano.Common/Storage/
nano/android/Nano.Common/Xml/
nano/android/Nano.Extensive/CodeModel/
nano/android/Nano.Extensive/Error/
nano/android/Nano.Extensive/Logs/
nano/android/Nano.Extensive/Marshal/
nano/android/Nano.Extensive/Nuts/
nano/android/Nano.Extensive/Persist/
nano/android/Nano.Extensive/RedLock/
nano/android/Nano.Extensive/Web/
nano/android/Nano.Sockets/Extensive/
nano/android/Nano.Sockets/Sockets/
nano/android/Nano.Sockets/websocket/
nano/android/Nano.Xapi/Netdisk/
